/*
 * Stylesheet file for the game webview console.
 */

/*******************************************************************************
 *                                                                             *
 * Fonts                                                                       *
 *                                                                             *
 ******************************************************************************/

@font-face {
	src: url('../../res/fonts/Adobe-Garamond-Pro-Regular.ttf');
}

/*******************************************************************************
 *                                                                             *
 * Body design                                                                 *
 *                                                                             *
 ******************************************************************************/

body {
	background-color:#c79d75;
	font-family: Adobe Garamond Pro;
}

/* Styling the text in Webview / output i console */	
div.webview {
	font-size: 18px;
	display: block;
}

.boldText {
	/* Issue, font does not support bold text */
	font-weight: bold;
	
	/* Fix: We just make is larger to make up for this */
	font-size: 1.2em;
}

.shakyText {
	display:block;
	-webkit-animation-name: shake;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes shake {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); color:red; }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); color:orangered}
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); color:red; }
}