/*
 * Stylesheet file for the game GUI view.
 */

/*******************************************************************************
 *                                                                             *
 * Fonts                                                                       *
 *                                                                             *
 ******************************************************************************/

@font-face {
	src: url('../../res/fonts/Adobe-Garamond-Pro-Regular.ttf');
}

/*******************************************************************************
 *                                                                             *
 * Main design                                                                 *
 *                                                                             *
 ******************************************************************************/

.mainFrame {
	-fx-background-image: url("../../res/background.jpg");
	-fx-background-repeat: stretch;   
    -fx-background-position: center center;
}

.root {
	/*Defining colors for later use in style */
	-castleEscape-button-color: transparent;
	-castleEscape-button-text-color: rgb(255, 255, 255);
}

/*******************************************************************************
 *                                                                             *
 * Button Style                                                                *
 *                                                                             *
 ******************************************************************************/

.toggle-button, .button {
	/*-fx-graphic: url("../../res/button.png");*/
	-fx-background-image: url("../../res/button.png");
	-fx-background-repeat: no-repeat;       
    -fx-background-position:left; 
	-fx-padding: 0.6em;
	-fx-background-size: 100% 100%;
	-fx-background-color: -castleEscape-button-color;
	-fx-font-family: "Adobe Garamond Pro";
	-fx-font-weight: bold;
	-fx-font-size: 16.0px;
	-fx-text-fill: -castleEscape-button-text-color;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.toggle-button:hover,
.button:hover,
.button:default:hover {
       -fx-background-image: url("../../res/button-focused.png");
}

.toggle-button:pressed,
.button:pressed,
.button:default:pressed {
       -fx-background-image: url("../../res/button-pressed.png");
}

/*******************************************************************************
 *                                                                             *
 * Compass                                                                     *
 *                                                                             *
 ******************************************************************************/

.compassButtonHorizontal {
	-fx-background-image: null;
	-fx-min-width: 42;
	-fx-min-height: 84;
	-fx-pref-width: 42;
	-fx-pref-height: 84;
	-fx-max-width: 42;
	-fx-max-height: 84;
}

.compassButtonVertical {
	-fx-background-image: null;
	-fx-min-width: 84;
	-fx-min-height: 42;
	-fx-pref-width: 84;
	-fx-pref-height: 42;
	-fx-max-width: 84;
	-fx-max-height: 42;
}

.compassButtonVertical:hover {
	-fx-background-image: null;
}

.compassButtonHorizontal:hover {
	-fx-background-image: null;
}